<% title 'Atuação' %>
<%= render 'menu' %>
<section class="atuaction row">
  <h1>Atuação</h1>
  <p>
    <strong>Direito Civil:</strong> Contratos, Locações, Títulos de Crédito, Indenizações, Danos Morais, Seguros, Execuções, Embargos, além da mais variada gama de ações ordinárias, com experiência no manejo de todos os recursos legais, inclusive extraordinário, especial, regimental, agravos de instrumento, etc;
  </p>
  <p>
    <strong>Direito Empresarial:</strong> Direito Societário, Contratos Empresariais, Análise e Elaboração de Estatutos Sociais e alterações contratuais, Títulos de Crédito e o Direito Falimentar - Recuperação de Empresas;
  </p>
  <p>
    <strong>Direito Tributário e Administrativo:</strong> Restituição e/ou compensação, de forma legal, dos tributos exigidos inconstitucional ou ilegalmente das empresas (ICMS; IPI; PIS etc), análise de crédito extemporâneos, planejamentos tributários relacionados a benefícios fiscais (diferimento de ICMS, afastamento de ST, Crédito Presumido, etc.), bem como regimes especiais de tributação, entre outros.
  </p>
  <p>
    <strong>Direito do Trabalho:</strong> Defesas em Reclamações Trabalhistas, Recursos e Execuções para empresas e empregados;
  </p>
</section>
