<% title 'Nossa Equipe' %>
<%= render 'menu' %>
<section class="team row">
  <h1>Nossa Equipe</h1>
  <ul class="row no-bullet">
    <li class="columns medium-4"><h2>Salvador Liserre Neto</h2></li>
    <li class="columns medium-4"><h2>Fauaz Najjar</h2></li>
    <li class="columns medium-4"><h2>Heloisa M. M. Liserre Najjar</h2></li>
    <li class="columns medium-4"><h2>Renato C. Bicudo</h2></li>
    <li class="columns medium-4"><h2>Maria Elza M. Liserre</h2></li>
    <li class="columns medium-4"><h2>Wagner Rubini</h2></li>
  </ul>
</section>
