@import 'foundation_and_overrides';

.logo-header {
  padding: 0.5rem 0;
  text-align: center;
  background-color: $primary-color;
  position: relative;
  z-index: 10;

  .facebook {
    position: absolute;
    right: 28px;
    top: 28px;
  }
}

.show-menu {
  height: 12rem !important;
}

.sidebar-menu {
  width: 100%;
  top: 0;
  z-index: 0;
  background-color: $primary-color;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 600ms; /* Safari */
  transition: height 600ms;
}

.menu-mobile-container {
  padding: 3rem 2rem;
  margin-bottom: 0;
  li a {
    color: $white;
  }
}

.mobile-menu {
  background-color: $secondary-color;
  color: $white;
  padding: 0.4rem;
  margin: 0 -2px;
  width: 100%;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;

  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.menu-header {
  padding: 1rem 0;
  height: 4.5rem;
  width: 38rem;
  background-color: $secondary-color;

  -webkit-border-bottom-right-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

  .menu {
    font-size: 1rem;
    padding-left: 3rem;

    li {
      text-align: center;
    }

    a {
      color: $white;
    }

    a:hover {
      color: $light-gray;
    }
  }
}
